img{
    width: 100px;
    height: 100px;
    object-position:30px;
}
div{
    width: 100px;
    height: 100px;
    background-color: pink;
}
.Hello{
    color: blue;
    border-style: none;
}
#item_box{
    font-size: 50px;
    font-weight: 100px;
    height: 100px;
    padding: 10px 30px 20px 10px;
}